<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"> 

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Iteria Test</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    <ui:insert name = "header" >
                        <ui:include src = "/templates/header.xhtml" />
                    </ui:insert> 
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    <ui:insert name = "footer" >
                        <ui:include src = "/templates/footer.xhtml" />
                    </ui:insert>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Navegación" collapsible="true">
                    <h:form>
                        <p:menu>
                            <p:submenu label="Facturas">
                                <p:menuitem value="Clientes" outcome="/cliente/index"/>
                                <p:menuitem value="Productos" outcome="/productos/index"/>
                                <p:menuitem value="Facturas" outcome="/facturas/index"/>
                            </p:submenu>
                        </p:menu>
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="center" id="idLabel">
                    <ui:insert name="content">
                        Main content
                    </ui:insert>
                    <!--<ui:include src="contratista/contratista.xhtml"/>-->
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>