<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <h:form id="formularioProductos">
            <p:messages id="messages1" showDetail="true" closable="true"/>     

            <p:dialog header="Productos" widgetVar="modal_crear" minHeight="40">

                <p:panelGrid columns="2" id="panelProductos">

                    <h:outputText value="Nombre del producto:"/>
                    <p:inputText required="true" requiredMessage="El nombre del producto es requerido" binding="#{productoVista.txtNombreProducto}"/>

                    <h:outputText value="Descripción"/>
                    <p:inputText required="false"  binding="#{productoVista.txtDescripcion}"/>

                    <h:outputText value="Valor($):"/>
                    <p:inputText required="true" requiredMessage="El valor es requerido" binding="#{productoVista.txtValor}"/>

                </p:panelGrid>

                <p:commandButton value="Guardar" actionListener="#{productoVista.nuevoProducto()}" update="formularioProductos"/>
                <p:commandButton value="Actualizar" actionListener="#{productoVista.actualizarProducto()}" update="formularioProductos"/>
                <p:commandButton value="Eliminar" action="#{productoVista.eliminarProducto()}" update="formularioProductos">
                    <p:confirm header="Confirmation"
                               message="¿Desea elimiinar este registro?" 
                               icon="pi pi-exclamation-triangle" />
                </p:commandButton>
                <p:commandButton value="Cancelar" actionListener="#{productoVista.limpiarCampos()}" update="formularioProductos"/>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                </p:confirmDialog>
            </p:dialog>

            <p:dataTable var="p" value="#{productoVista.listaProductos}" rows="10"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15"
                         selection="#{productoVista.selectedProducto}"
                         selectionMode="single"
                         rowKey="#{p.idProducto}">

                <p:ajax event="rowSelect"
                        listener="#{productoVista.seleccionarProducto}"
                        update=":formularioProductos:panelProductos"/>

                <p:column headerText="Producto">
                    <h:outputText value="#{p.nombrePro}" />
                </p:column>

                <p:column headerText="Descripción">
                    <h:outputText value="#{p.descripProducto}" />
                </p:column>

                <p:column headerText="Valor($)">
                    <h:outputText value="$#{p.valorPro}" />
                </p:column>

                <f:facet name="paginatorTopLeft">
                    <p:commandButton type="button" icon="pi pi-refresh" />
                </f:facet>

                <f:facet name="paginatorBottomRight">
                    <p:commandButton type="button" icon="pi pi-cloud-upload" />
                </f:facet>
            </p:dataTable>
        </h:form>
    </h:body>
</html>

