<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="../templates/common.xhtml">
            <ui:define name = "header">
                <h4>Facturas</h4>
            </ui:define>

            <ui:define name = "content" id="panelContent">
                <h:form>
                    <p:messages id="messages" showDetail="true" closable="true"/>     

                    <h:panelGrid columns="4" cellpadding="5">
                        <p:commandButton value="+" type="button" onclick="PF('modal_crear').show();" />
                    </h:panelGrid>
                </h:form>

                <!--Panel para ingenieros-->
                <ui:include src="facturas.xhtml"/>              
            </ui:define>
        </ui:composition>
    </h:body>
</html>

